version: "3.3"
services:
  web:
    restart: always
    command: gunicorn -b 0.0.0.0:5000 app:gunicorn_app
    build: .
    depends_on:
      - postgres
  postgres:
    image: postgres:13-alpine
    volumes:
      - ./docker/pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres
  caddy:
    image: caddy:2.4.6-alpine
    restart: always
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/caddy:/data
      - ./Caddyfile:/etc/caddy/Caddyfile
