.all_messages {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #9694A8;
    /*padding: 10px;*/
    border-radius: 8px;
}

.main-row {
    justify-content: left;
    width: 64%;
}

.textarea {
    width: 90%;
    height: 100px;
    margin: 10px 0;
}

.incoming_msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scrollbar-width: thin;
    padding: 15px 10px;
}

.message-input {
    position: sticky;
    position: -webkit-sticky;
    background: gray;
    padding: 15px;
    bottom: 0;
    /*width: 921px;*/
    /*max-width: 100%;*/
}

.message-box {
    padding: 10px 8px;
    margin: 2px 0;
    background: #e9e9ed;
    border: 1px solid #B49E93;
    border-radius: 10px;
    max-width: 50%;
}

.all_messages .new-button {
    margin: auto;
}

.all_messages label {
    padding: 10px 0;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}