.friend-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background: var(--object-accent-color);
    border: 1px solid var(--object-border-color);
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height: 30px;
}

.friend-block > .new-button{
    margin: 5px;
}