.user-input, .sign-in-reset {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    border: 1px solid #B49E93;
    background: #CEC5C3;
    border-radius: 15px;
    min-width: 300px;
    min-height: 170px;
    line-height: 50px;
}

.sign-in-reset {
    top: 59%;
    background: none;
    border: none;
}

.text-input {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    padding-left: 8px;
    margin-left: 8px;
    min-height: 25px;
    min-width: 150px;
    color: #56658A;
}

.input_button {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 10px;
    width: 130px;
    height: 35px;
    text-align: center;
    background: #C5B8B3;
    cursor: pointer;
    border: none;
}

.sign-in-reset .input_button{
    width: 110px;
    height: 35px;
}

.input_button:hover {
    background: #B49E93;
}

.input_button:active {
    background: #A38473;
}

.Message {
    font-family: "Ubuntu", sans-serif;
    position: fixed;
    top: 49%;
    left: 58%;
    text-align: center;
    color: red;
    text-shadow: 2px 4px 2px #b0b0b0, 0 0 1em black;
}

.Text {
    font-family: 'Golos Text', sans-serif;
    position: fixed;
    font-size: 0.7vmax;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: #F5F4F4;
}