:root {
    --object-bg-color: #ffffff;
    --object-hover-color: #e0ecff;
    --object-bg-text-color: #878787;
    --page-bg-color: #f6f7fb;
}

.header {
    width: 95vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    background: var(--page-bg-color);
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 500;
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 40px;
}

.header-content > .new-button {
    height: 30px;
}

#login-button {
    margin-left: 40px;
}

.header-content > .new-button:hover {
    background: var(--object-hover-color)
}

.header-content > .new-button:active {
    background: #56658A;
}

.header-title {
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 3%;
}

.header-title > img {
    width: 130px;
    height: auto;
}

.header-label {
    margin-left: 6%;
    font-size: 0.9em;
    color: var(--object-bg-text-color);
}

.header-avatar {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-right: 10%;
    cursor: pointer;
}

.dropdown-container {
    padding: 0 0 0 30px;
    margin-left: auto;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-profile {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.dropdown-profile:hover {
    background: var(--object-hover-color);
}

.dropdown-profile-avatar {
    width: 40%;
    max-width: 50px;
    height: auto;
    max-height: 50px;
    border-radius: 30px;
}

.dropdown-profile-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 10px;
    font-size: 0.9em;
    word-wrap: break-word;
    overflow: hidden;
}

.dropdown-profile-description-status {
    font-size: 0.86em;
    color: var(--object-bg-text-color);
}

.dropdown-profile-description-type {
    font-size: 0.82em;
    color: var(--object-bg-text-color);
}

.search-label > input[type=text] {
    font-family: "Golos Text", sans-serif;
    border-radius: 5px;
    border: 2px solid var(--object-bg-text-color);
    padding-left: 5px;
    height: 20px;
    width: 190px;
}

.search-label > .material-icons {
    vertical-align: middle;
}

.left-row {
    font-family: 'Golos Text', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    left: 5%;
    top: 15%;
    line-height: 5vh;
    text-align: center;
}

.right-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Golos Text', sans-serif;
    position: fixed;
    z-index: -1;
    left: 82%;
    top: 15%;
    line-height: 5vh;
    text-align: left;
    overflow: hidden;
}

.main-row {
    font-family: 'Golos Text', sans-serif;
    position: absolute;
    left: 18%;
    top: 15%;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hideModal {
    z-index: -1;
    opacity: 0;
    animation: hide .25s;
    transform: scale(0);
}

@keyframes hide {
    from {
        z-index: 2;
        transform: scale(1);
        opacity: 1;
    }
    to {
        z-index: -1;
        transform: scale(0);
        opacity: 0;
    }
}

.showModal {
    opacity: 1;
    z-index: 2;
    animation: show .2s;
    transform: scale(1);
}

@keyframes show {
    from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
    }
}

.new-button {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    margin: 5px 0;
    width: 130px;
    height: 35px;
    background: #f6f7fb;
    cursor: pointer;
    border: none;
    text-align: center;
}

.left-row > .new-button {
    text-align: left;
}

.new-button:hover {
    background: var(--object-hover-color);
}

.new-button:active {
    background: rgba(157, 185, 222, 0.7);
}

.material-icons {
    display: inline-flex;
    vertical-align: text-bottom;
}

.material-icons-round {
    display: inline-flex;
    vertical-align: text-bottom;
}

.error-message {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: darkred;
}

.file-input {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
}

.textarea {
    width: 90%;
    height: 200px;
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    border-radius: 10px;
    resize: none;
    border: none;
    padding: 10px;
}

.tag-button-small {
    border-radius: 8px;
    border: none;
    background: #d5d6e4;
    font-size: 0.8em;
    padding: 3px 8px;
    width: max-content;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.pinned-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.pinned-image-description {
    display: none;
    background: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
}

html, body {
    background: var(--page-bg-color);
    font-family: 'Golos Text', sans-serif;
    /*overflow: scroll;*/
    /*height: 100px;*/
}