.all-chats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.main-row{
    left: 25%;
    width: 45%;
}

.chat{
    background: #CEC5C3;
    border: #B49E93;
    border-radius: 5px;
    vertical-align: center;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 40px;
}