.all-chats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.main-row{
    left: 25%;
    width: 45%;
}

.all-chats .new-button{
    width: 100%;
    border: 1px solid var(--object-border-color);
    text-align: center;
    vertical-align: center;
}