.settings-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.settings-block {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: flex-start;
    text-align: left;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    line-height: 4vh;
    margin-left: 40px;
}

textarea {
    font-family: "Golos Text", sans-serif;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: none;
    resize: none;
}

.settings-input {
    padding: 5px;
    border-radius: 10px;
    /*border: 1px solid #e3e9ff;*/
    border: none;
    margin-top: 10px;
}

.color-name-block {
    display: flex;
    gap: 10px;
}

.buttons-edit-role-block {
    display: flex;
    gap: 10px;
}

.roles-modal {
    display: grid;
    grid-template-areas: "a a b b"
                    "c d e e"
                    "f g i i";
    width: 100%;
    gap: 5px;
}

.roles-modal-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roles-modal-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.roles-modal-add {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50%;
}

.settings-block.buttons-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.settings-block.settings-block > .new-button {
    padding: 2px 0;
    height: auto;
}

.item-selected {
    padding: 5px;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    color: black;
}

#avatar_changer {
    width: 100px;
}

.change-avatar {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */;
}

.change-avatar-content {
    display: flex;
    flex-direction: row;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 11%;
    transition: 300ms linear;
    height: 50px;
}

.change-avatar-content.roles-content {
    width: 40%;
    height: 20%;
}

.role-inputs {
    border-radius: 15px;
    border: 1px solid grey;
}

.roles-modal > label > input[type=text] {
    margin-top: 5px;
    padding: 10px
}

.crop-image {
    width: 50%;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
}

.avatar-form {
    padding-right: 5px;
    width: 25%;
}

.previews-column {
    display: grid;
    height: 60%;
    grid-gap: 7px;
    max-width: 20%;
}

.control-buttons {
    grid-column: 1;
    grid-row: 3 / 6;
    grid-row-start: 3;
    grid-row-end: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 150px;
}

.control-buttons > .new-button {
    width: 40px;
}

#save_image {
    width: 60px;
}

.item-preview-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

#item-preview-flex-big {
    grid-column: 1 / 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.preview {
    max-width: 210px;
    width: 210px;
    max-height: 210px;
    height: 210px;
    resize: none;
    overflow: hidden;
    border-radius: 15px;
    grid-column: 1 / 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#medium-preview {
    grid-column: 1;
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    resize: none;
    overflow: hidden;
}

#small-preview {
    grid-column: 2;
    max-width: 30px;
    width: 30px;
    max-height: 30px;
    height: 30px;
    resize: none;
    overflow: hidden;
}

.other-previews {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 8px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}