.main-row button {
    margin: auto;
}

.main-row {
    /*overflow: auto;*/
}

.user-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.posts-span {
    margin-bottom: 45px;
    margin-left: 10px;
    text-align: left;
    font-size: 0.9em;
    color: var(--object-bg-text-color);
}

.user-card-description {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
}

.user-description {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.15em;
    color: #000000;
    padding-bottom: 10px;
    text-align: left;
}

.user-card-avatar-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 55px;
    padding: 30px;
    background: rgb(206, 214, 231);
    background: linear-gradient(90deg, rgba(206, 214, 231, 1) 4%, rgba(209, 218, 235, 1) 30%, rgba(246, 247, 251, 1) 63%);
}

.user-card-other-block {
    display: inline-block;
}

.user-card-other-block > .tag-button-small {
    border: none;
    height: 30px;
    background: #B9C9EC;
    cursor: pointer;
}

.user-card-other-block > .tag-button-small:hover {
    background: #AEC4F2;
}

.user-card-other-block > .tag-button-small:active {
    background: #A9C2F8
}


.avatar {
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.avatar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-card-nickname-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px 20px;
    gap: 10px;
}

.user-nickname {
    font-weight: 500;
    font-size: 1.8em;
}

.create_post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border: solid 1px #B49E93;
    background: #CEC5C3;
    border-radius: 15px;
    overflow: hidden;
}

.create_post textarea {
    width: 90%;
    height: 200px;
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    border-radius: 10px;
    resize: none;
    border: none;
    padding: 10px;
}

.create_post label {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin: 10px 0;
}

.create_post button, select {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    margin: 5px 0;
    width: 150px;
    height: 30px;
    text-align: center;
    background: #C5B8B3;
    cursor: pointer;
    border: none;
}

.create_post button:hover, select:hover {
    background: #B49E93;
}

.create_post button:active, select:active {
    background: #A38473;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.post {
    flex-basis: auto;
    flex-shrink: 1;
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    margin: 10px 0;
    /*border: 1px solid #B49E93;*/
    word-wrap: break-word;
    background: var(--object-bg-color);
    border-radius: 20px;
    text-align: left;
    padding: 15px;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.post-avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.post-nick:link, .post-nick:visited {
    margin-left: 8px;
    color: black;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: lighter;
}

.post-date {
    font-size: 0.8em;
    color: var(--object-bg-text-color);
}

.private-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.private-role-info {
    font-size: 0.8em;
    color: var(--object-bg-text-color);
}

.post-inside {
    display: inline;
    vertical-align: center;
}

.post-message {
    padding-left: 5px;
}

#post-more {
    margin-right: 15px;
    margin-left: auto;
    font-size: 2em;
    color: var(--object-bg-text-color);
}

.post-pinned-images {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 15px;
}

.post-pinned-images > img {
    width: auto;
    height: auto;
    max-height: 500px;
    border-radius: 10px;
    min-width: 0;
}

.new-post {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.new-post textarea {
    border-radius: 15px;
    border: none;
    padding: 10px;
    resize: none;
    width: 95%;
    height: 20px;
    max-height: 300px;
    float: left;
    font-size: 1rem;
    font-family: "Golos Text", sans-serif;
}

.new-post-sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.new-post-sub-pinned {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.pinned-image {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.pinned-image:hover + .pinned-image-description {
    display: block;
    margin-left: -40px;
    color: black;
    font-size: 1.2em;
    z-index: 2;
    cursor: pointer;
}

.new-post-sub-tags {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.new-post-sub-tags .tag-button-small {
    cursor: pointer;
}

.new-post-sub-tags-roles {
    display: inline;
    /*transition: linear 300ms;*/
}

.modal-window {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-window-content {
    display: flex;
    background-color: #fefefe;
    max-width: 50%;
    width: 30%;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
}

.modal-window-role-edit-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    max-width: 50%;
    width: 20%;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    gap: 10px;
}

#role_selector {
    flex: 1;
    margin-right: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: left;
    max-width: 40%;
}

#edit_tags {
    margin: 0 auto 0 0;
}

#private_post {
    margin: 0 10px 0 10px;
}

.role-inputs {
    border-radius: 15px;
    border: 1px solid grey;
}

.item-selected {
    padding: 5px;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    color: black;
}

.modal-window-content > select {
    padding-left: 15px;
}

.profile {
    margin: 0 auto;
    text-align: right;
}