.main-row button {
    margin: auto;
}

.main-row {
    left: 22%;
    /*overflow: auto;*/
}

.user-description {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.2em;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 3px solid #6878A1;
    text-align: center;
}

.create_post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border: solid 1px #B49E93;
    background: #CEC5C3;
    border-radius: 15px;
    overflow: hidden;
}

.create_post textarea {
    width: 90%;
    height: 200px;
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    border-radius: 10px;
    resize: none;
    border: none;
    padding: 10px;
}

.create_post label {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin: 10px 0;
}

.create_post button, select {
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    margin: 5px 0;
    width: 150px;
    height: 30px;
    text-align: center;
    background: #C5B8B3;
    cursor: pointer;
    border: none;
}

.create_post button:hover, select:hover {
    background: #B49E93;
}

.create_post button:active, select:active {
    background: #A38473;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.post {
    flex-basis: auto;
    flex-shrink: 1;
    font-family: 'Golos Text', sans-serif;
    font-size: 1em;
    margin: 10px 0;
    border: 1px solid #B49E93;
    word-wrap: break-word;
    background: #CEC5C3;
    border-radius: 8px;
    text-align: left;
    padding: 10px;
    vertical-align: center;
}

.post-avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.post-nick {

}

.post-date {

}

.post-inside{
    display: inline;
    vertical-align: center;
    /*border: solid;*/
}

.post-message {
    padding-left: 30px;
}

.profile {
    margin: 0 auto;
    text-align: right;
}

.logout {
    top: 85%;
}

html, body {
    background: #F5F4F4;
}