{% extends "layout.html" %}
{% block title %}{{ chat.chatname }}{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/css/chat.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for("static", filename="chat.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/message_render.js") }}"></script>
{% endblock %}
{% block main_row %}
    <div class="chat-container">
    <div class="chat-content" id="chat_content_{{ chat.id }}">
    <div class="chat-header">
        <h1>{{ chat.chatname }}</h1>
        {% if not chat.is_dialog %}
            <h3>{{ chat.rules }}</h3>
        {% endif %}
    </div>
    <div class="all_messages">
        <div id="incoming_msg_{{ chat.id }}" class="incoming_msg" data-id="{{ chat.id }}">
            {% if chat.is_dialog %}
                {% for message in messages %}
                    {% if message.from_user_id == current_user.id %}
                        <div class='message-box' style="align-self: end; background: #e3e4f8">
                    {% else %}
                        <div class='message-box'>
                    {% endif %}
                <div class="message-box-text">
                    <span class="message-text">{{ message.message }}</span>
                </div>
                {% if message.attachment %}
                    <span class="flex-break"></span>
                    <div class="message-pinned-images">
                        {% for attach in message.attachment %}
                            {% for image in attach.links_array %}
                                {% if image %}
                                    <img src="{{ image }}" class="post-pinned-image" alt="attach_img">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                </div>
                {% endfor %}
            {% else %}
                {% for message in messages %}
                    {% if message.from_user_id == current_user.id %}
                        <div class='message-box' style="align-self: end; background: #e3e4f8">
                    {% else %}
                        <div class='message-box'>
                    {% endif %}
                <img src="{{ message.user_avatar }}" class="message-box-avatar">
                <div class="message-box-text">
                    <span class="from-user">{{ get_username(message.from_user_id) }}</span>
                    <span class="message-text">{{ message.message }}</span>
                </div>
                {#                        TODO: картинки занимают лишнее место, исправить#}
                {% if message.attachment %}
                    <span class="flex-break"></span>
                    <div class="message-pinned-images">
                        {% for attach in message.attachment %}
                            {% for image in attach.links_array %}
                                {% if image %}
                                    <img src="{{ image }}" class="post-pinned-image" alt="attach_img">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="message-input">
                <label class="message-input-label">
                    <textarea id="message_{{ chat.id }}"></textarea>
                    <button class="new-button" style="margin: 0" id="send_message_{{ chat.id }}">Send</button>
                </label>
                <div class="message-input-pinned" id="pinned-container">

                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="all_messages" style="display: none">
        <div class="all-chats">
            {% for chat in chats %}
                <div class="new-button" onclick="location.href='{{ url_for('chat', chat_id=chat["id"]) }}'">
                    <a>{{ chat.chatname }}</a><br>
                </div>
            {% endfor %}
            <a href="/user/create_chat">Create new chat</a>
        </div>
    </div>
{% endblock %}
{% block right_row %}
    <div class="chat-control-buttons">
        <button class="new-button" id="all_messages_button">All messages</button>
        <div class="chat-messages-buttons">

        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let last_msg_time
        let first_msg_time
        let chat_id;
        {% if messages %}
            {% set l_item = messages|last %}
            {% set f_item = messages|first%}
            last_msg_time = "{{l_item.message_date}}"
            first_msg_time = "{{f_item.message_date}}"
            chat_id = {{ chat.id }}
                {% else %}
                last_msg_time = "{{ get_current_datetime() }}"
            chat_id = {{ chat.id }}
        {% endif %}

        $("#send_message_{{ chat.id }}").click(function () {
            send_message($("#message_{{ chat.id }}").val(), "{{ current_user.username }}", "{{ chat.id }}")
        })
        update_messages("{{ current_user.username }}", "{{ chat.id }}", last_msg_time, "update")
    </script>
{% endblock %}