{% extends "layout.html" %}
{% block title %}{{ chat.chatname }}{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/css/chat.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for("static", filename="chat.js") }}"></script>
{% endblock %}
{% block main_row %}
    <h1>{{ chat.chatname }}</h1>
    {% if not chat.is_dialog %}
        <h3>{{ chat.rules }}</h3>
    {% endif %}
    <div class="all_messages">
        <div id="incoming_msg">
            {% for message in messages %}
                {% if message.from_user_id == current_user.id %}
                    <div class='message-box' style="align-self: end; background: #CEC5C3">
                        <span class="from-user">{{ get_username(message.from_user_id) }}:</span>
                        <span class="message-text">{{ message.message }}</span>
                    </div>
                {% else %}
                    <div class='message-box'>
                        <span class="from-user">{{ get_username(message.from_user_id) }}:</span>
                        <span class="message-text">{{ message.message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <label> Input some message...
            <textarea class="textarea" id="message"></textarea>
        </label>
        <button class="new-button" id="send_message">Send</button>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let last_msg_time
        {% if messages %}
            {% set item = messages|last %}
            last_msg_time = "{{item.message_date}}"
        {% else %}
            last_msg_time = "{{ get_current_datetime() }}"
        {% endif %}

        $("#send_message").click(function () {
            send_message($("#message").val(), "{{ current_user.username }}", "{{ chat.id }}")
        })
        update_messages("{{ current_user.username }}", "{{ chat.id }}", last_msg_time)
    </script>
{% endblock %}