<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create community</title>
</head>
<body>
<div class="left-row">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery3.6.0.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="create_group.js") }}"></script>
</div>
<div class="main-row">
    <label>Input your community name<br>
        <input type="text" id="group_name">
    </label>
    <label>Input your community description<br>
        <textarea id="group_description"></textarea>
    </label>
    <label>Input your community rules<br>
        <textarea id="group_rules"></textarea>
    </label>
    <label>If you want, add some tags for your community<br>
        <input type="text">
    </label>
    <button id="create_group">Create community</button>
    {#    TODO: Добавить селектор тегов с поиском пофандомам#}
</div>
<div class="right-row">

</div>
<script>
    $("#create_group").click(function () {
        create_group($("#group_name").val(), $("#group_description").val(), $("#group_rules").val())
    })
</script>
</body>
</html>