{% extends "layout.html" %}
{% block title %}{{ _("Create chat")}}{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for("static", filename="node_modules/cropperjs/dist/cropper.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="node_modules/cropperjs/dist/cropper.css") }}">
    <script type="text/javascript"
            src="{{ url_for("static", filename="node_modules/jquery-cropper/dist/jquery-cropper.js") }}"></script>
    <link href="/static/css/create_group.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/settings.css">
    <script type="text/javascript" src="{{ url_for("static", filename="js/image_cropper.js") }}"></script>
    <link href="/static/css/create_chat.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for("static", filename="create_chat.js") }}"></script>
{% endblock %}
{% block main_row %}
    <div class="change-avatar" id="set_avatar">
            <div class="change-avatar-content" id="avatar-modal">
                <span class="close" id="close_button">&times;</span>
                <form class="avatar-form" method="post" enctype=multipart/form-data id="set-avatar">
                    <input class="file-input" type="file" accept="image/png, image/jpeg" id="picture">
                </form>
                <div class="previews-column">
                    <div class="item-preview-flex" id="item-preview-flex-big">
                        <div class="preview" id="big-preview">
                        </div>
                    </div>
                    <div class="item-preview-flex">
                        <div class="preview" id="medium-preview">
                        </div>
                        <div class="preview" id="small-preview">
                        </div>
                    </div>
                    <div class="control-buttons">
                        <button class="new-button" style="display: none" id="crop_button" title="Crop"><i
                                class="bi-crop"></i></button>
                        <button class="new-button" style="display: none" id="move_button" title="Move"><i
                                class="bi-arrows-move"></i></button>
                        <div class="flex-break"></div>
                        <button class="new-button" style="display: none" id="rotate_90_left" title="Rotate clockwise"><i
                                class="bi-arrow-clockwise"></i></button>
                        <button class="new-button" style="display: none" id="rotate_90_right"
                                title="Rotate counterclockwise"><i class="bi-arrow-counterclockwise"></i></button>
                        <div class="flex-break"></div>
                        <button class="new-button" style="display: none" id="save_image" title="Save image"><i
                                class="bi-upload"></i></button>
                    </div>
                </div>
                <div class="crop-image" id="crop-image">
                </div>
            </div>
        </div>
    <div class="create-chat">
    <h1>{{ _("Create new chat")}}</h1>
        <div class="create-chat-settings">
        {% if friends %}
            <label>{{ _("Chat name")}}
                <input type="text" id="chat_name">
            </label>
            <button class="new-button" id="set_chat_avatar">{{ _("Set chat avatar")}}</button>
            </div>
            {% for friend in friends %}
                <div class="create-chat-friend">
                    <!-- Сверху сначала должен быть аватар -->
                    <div class="create-chat-friend user-info">
                        <img src="{{ friend.avatar }}" class="create-chat-friend user-avatar" alt="user profile"
                             onclick="location.href='{{ url_for("users_page", name=friend.username) }}'">
                        <span onclick="location.href='{{ url_for("users_page", name=friend.username) }}'"
                              class="create-chat-friend user-name"
                              id="friend_{{ loop.index - 1 }}">{{ friend.username }}</span>
                    </div>
                    <button id="add_friend_{{ loop.index - 1 }}" class="new-button">{{ _("Add friend")}}</button>
                    <button id="remove_friend_{{ loop.index - 1 }}" class="new-button">{{ _("Remove friend")}}</button>
                    <label>{{ _("Is moderator")}}</label>
                    <input type="checkbox" id='is_moderator_{{ loop.index - 1 }}'><br>
                </div>
            {% endfor %}

        {% else %}
            <a>{{ _("You don't have friends")}}</a>
        {% endif %}
        <button id="create_chat" class="new-button">{{ _("Create chat")}}</button>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        init({{ current_user.friends_count }})
    </script>
{% endblock %}