<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/static/css/golos_text.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery3.6.0.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="dialog.js") }}"></script>
</head>
<body>
{% if name != session['username'] %}
    <p>Sorry, it seems like something go wrong</p>
    <a href={{ url_for('index') }}>Home</a>
{% else %}
    <div class="left-row">
        <a>Profile</a><br>
        <button class="new-button" id="settings" onclick="location.href='{{ url_for("user_settings") }}'"><i
                class="bi-gear"> </i>Settings
        </button>
        <button class="new-button" id="messages" onclick="location.href='{{ url_for("messages") }}'"><i
                class="bi-envelope"> </i>Messages
        </button>
        <button class="new-button" id="friends" onclick="location.href='{{ url_for("friends_page") }}'"><i
                class="bi-people"> </i>Friends
        </button>
        <button class="new-button" id="groups" onclick="location.href='{{ url_for("user_groups") }}'"><i
                class="bi-people"> </i>Communities
        </button>
    </div>
    <div class="main-row">
        <div class="incoming_messages" id="incoming_msg">
            {#        {% for user, message in messages%}#}
            {#        <li>{{user}}: {{message}}</li>#}
            {#        {% endfor %}#}
        </div>
        <textarea id="inp_msg" placeholder="Enter your message"></textarea>
        <button id='send_msg'>Send message</button>
    </div>
    <div class="right-row">

    </div>
{% endif %}
</body>
<script>
    update_messages("{{ username }}", "{{ chat_id }}")
    $("#send_msg").click(function () {
        send_message($("#inp_msg").val(), "{{username}}", "{{ chat_id }}")
    })
    $(document).keyup(function (e) {
        if (typeof e.type !== "string" || (e.type === 'keyup' && e.keyCode !== 13)) {

        } else {
            send_message($("#inp_msg").val(), "{{username}}", "{{ chat_id }}")
        }
    })
</script>
</html>