{% extends "layout.html" %}
{% block title %}Friends{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/friends.css">
{% endblock %}
{% block main_row %}
    {% if friends['success'] %}
        {% for friend in friends['friendslist'] %}
            <div class="friend-block">
                <button class="new-button"
                        onclick="location.href='/users/{{ friend['name'] }}'">{{ friend['name'] }}</button>
                {#                <a href="/users/{{ friend['name'] }}">{{ friend['name'] }}</a>#}
                <button class="new-button" onclick="location.href='/dialog/{{ friend['name'] }}'">Write message</button>
            </div>
        {% endfor %}
    {% else %}
        <a>You don't have friends</a>
    {% endif %}
{% endblock %}
{% block right_row %}
{{ super() }}
{% block other_profile %}{% endblock %}
{% endblock %}