{% extends "layout.html" %}
{% block title %}{{ group.group_name }}{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for("static", filename="group.js") }}"></script>
{% endblock %}
{% block main_row %}
    <h1 class="group-name">{{ group.group_name }}</h1>
    <button id="join_b">Join community</button>
    <button id="leave_b">Leave community</button>
{% endblock %}
{% block scripts %}
    <script>
        let leave_b = $("#leave_b")
        leave_b.hide()
        let join_b = $("#join_b")
        join_b.hide()
        {% if not joined %}
            join_b.show()
        {% else %}
            leave_b.show()
        {% endif %}
        join_b.click(function () {
            join("{{ group.group_name }}")
        })
        leave_b.click(function () {
            leave("{{ group.group_name }}")
        })
    </script>
{% endblock %}