<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - InRole</title>
        <link href="/static/css/golos_text.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery3.6.0.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>
    {% endblock %}
</head>
<body>
<div class="header">
    <div class="header-content">
        {% if current_user.is_anonymous %}
            <button class="new-button" id="login-button" onclick="location.href='{{ url_for('login') }}'">Login</button>
            <button class="new-button" id="sign-in-button">Sign In</button>
            <label class="label-search"><i class="bi-search"></i>
                <input type="text">
            </label>
        {% else %}
        <label class="label-search"><i class="bi-search"></i>
            <input type="text">
        </label>
        {% endif %}
        <span class="header-title">InRole
            - {{ self.title() }}</span>
    </div>
</div>
<div class="left-row">
    {% block left_row %}
        {% if not current_user.is_anonymous %}
            <button class="new-button" id="profile" onclick="location.href='{{ url_for("index") }}'"><i
                    class="bi-house-fill"> </i>Profile
            </button>
            <button class="new-button" id="settings" onclick="location.href='{{ url_for("user_settings") }}'"><i
                    class="bi-gear-fill"> </i>Settings
            </button>
            <button class="new-button" id="messages" onclick="location.href='{{ url_for("messages") }}'"><i
                    class="bi-envelope-fill"> </i>Messages
            </button>
            <button class="new-button" id="friends" onclick="location.href='{{ url_for("friends_page") }}'"><i
                    class="bi-people-fill"> </i>Friends
            </button>
            <button class="new-button" id="groups" onclick="location.href='{{ url_for("user_groups") }}'"><i
                    class="bi-people-fill"> </i>Communities
            </button>
        {% endif %}
    {% endblock %}
</div>
<div class="main-row">
    {% block main_row %}
    {% endblock %}
</div>
<div class="right-row">
    {% block right_row %}
        {% block your_profile %}
            <img class="avatar" alt="You don't have avatar" src="{{ current_user.avatar }}">
            <a>{{ current_user.username }}</a>
        {% endblock %}
        {% block other_profile %}
            <img class="avatar" alt="User doesn't have avatar" src="{{ avatar }}">
            <a>{{ name }}</a>
        {% endblock %}
        {% if not current_user.is_anonymous %}
            <div class="logout">
                <button class="new-button" id="logout-button" onclick="location.href='{{ url_for("logout") }}'">Logout
                </button>
            </div>
        {% endif %}
    {% endblock %}
</div>
</body>
{% block scripts %}
{% endblock %}
</html>