<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Circles</title>
        <link href="/static/css/golos_text.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
              rel="stylesheet">
        <script src="{{ url_for("babel_catalog") }}"></script>
        <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery3.6.0.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>
        <script type="text/javascript" src="{{ url_for("static", filename="search.js") }}"></script>
        <script>
            const current_userid =
            {{ current_user.id }}
            const current_username = '{{ current_user.username }}'
        </script>
        <script type="text/javascript"
                src="{{ url_for("static", filename="node_modules/js-cookie/dist/js.cookie.min.js") }}"></script>
        <script type="text/javascript" src="{{ url_for("static", filename="updates.js") }}"></script>
        <script type="text/javascript"
                src="{{ url_for("static", filename="node_modules/autosize/dist/autosize.js") }}"></script>
        <script type="text/javascript"
                src="{{ url_for("static", filename="js/main.js") }}"></script>
    {% endblock %}
</head>
<body>
<div class="header">
    <div class="header-content">
        <span class="header-title"><img src="../static/img/site-logo.png" alt="site logo"></span>
        <span class="header-label">{{ _("manage your social circles") }}</span>
        <div class="dropdown-container">
            <label class="search-label">
                <input type="text" placeholder="{{ _("search for users")}}" id="search_users">
                <span class="material-icons">search</span>
            </label>
            <div id="dropdown-search" class="dropdown-content">
            </div>
        </div>
        {% if not current_user.is_anonymous %}
            <button class="new-button" style="width: max-content" id="logout-button"
                    onclick="location.href='{{ url_for("logout") }}'"><i
                    class="material-icons">logout</i>
            </button>
            <img src="{{ current_user.avatar }}" class="header-avatar"
                 onclick="location.href='{{ url_for("users_page", name=current_user.username) }}'">
        {% else %}
            <button class="new-button" id="login-button" onclick="location.href='{{ url_for('login') }}'">{{ _("Login") }}</button>
            <button class="new-button" id="sign-in-button">{{ _("Sign In")}}</button>
        {% endif %}
    </div>
</div>
<div class="left-row">
    {% block left_row %}
        {% if not current_user.is_anonymous %}
            <button class="new-button" id="profile" onclick="location.href='{{ url_for("index") }}'"><i
                    class="material-icons">home</i> {{ _("Profile") }}
            </button>
            <button class="new-button" id="settings" onclick="location.href='{{ url_for("user_settings") }}'"><i
                    class="material-icons">settings</i> {{ _("Settings") }}
            </button>
            <button class="new-button" id="messages" onclick="location.href='{{ url_for("messages") }}'"><i
                    class="material-icons">mail</i> {{ _("Messages") }}
            </button>
            <button class="new-button" id="friends" onclick="location.href='{{ url_for("friends_page") }}'"><i
                    class="material-icons">people</i> {{ _("Friends") }}
            </button>
            <button class="new-button" id="groups" onclick="location.href='{{ url_for("user_groups") }}'"><i
                    class="material-icons-round">people_outline</i> {{ _("Communities") }}
            </button>
            <button class="new-button" id="groups" onclick="location.href='{{ url_for("feed_page") }}'"><i
                    class="material-icons">newspaper</i> {{ _("Feed") }}
            </button>
            <div class="language-buttons">
                <span class="text-small" id="eng_lang">english</span>
                <span class="text-small" id="ru_lang">русский</span>
            </div>
        {% endif %}
    {% endblock %}
</div>
<div class="main-row">
    {% block main_row %}
    {% endblock %}
</div>
{#TODO: depricated#}
<div class="right-row">
    {% block right_row %}
    {% endblock %}
</div>
</body>
{% block scripts %}
{% endblock %}
</html>