<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InRole - Login</title>
    <link type="text/css" rel="stylesheet" href="/static/css/login.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="Text"><h1>Login</h1></div>
<form method="POST">
    <div class="user-input">
        <label style="padding-left: 20px">E-mail
            <input class="text-input" type="email" placeholder="enter valid email" name="email" required>
        </label>
        <label>Password
            <input class="text-input" type="password" minlength="6" placeholder="6+ symbols" name="pw1" required>
        </label>
        <input class="input_button" type="submit" value="Send">
    </div>
    <div class="Message">
        {% if error == 'dont_match' %}
            <h2>Email or password is incorrect!</h2>
        {% endif %}
    </div>
</form>
<div class="sign-in-reset">
    <button class="input_button" id="sign_in" onclick="location.href='{{ url_for('index') }}'">Sign in</button>
    <button class="input_button">Reset</button>
</div>
</body>
</html>