{% extends "layout.html" %}
{% block title %}Messages{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/messages.css">
{% endblock %}
{% block main_row %}
    <div class="all-chats">
        {% for chat in chats %}
            <div class="new-button" onclick="location.href='{{ url_for('chat', chat_id=chat["id"]) }}'">
                <a>{{ chat.chatname }}</a><br>
            </div>
        {% endfor %}
        <a href="/user/create_chat">Create new chat</a>
    </div>
{% endblock %}
{% block right_row %}
    {{ super() }}
    {% block other_profile %}{% endblock %}
{% endblock %}