{% extends "layout.html" %}
{% block title %}{{ _("Messages") }}{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/messages.css">
    <script type="text/javascript" src="{{ url_for("static", filename="js/messages.js") }}"></script>
{% endblock %}
{% block main_row %}
    <h1 style="text-align: left; margin-bottom: 30px">{{ _("Your messages")}}</h1>
    <div class="all-chats">
        {% for chat in chats %}
            <div class="chat-box" style="background: {{ chat.chat_color }}" id="chat_box_{{ chat.id }}">
                {% if chat.is_dialog %}
                    <img class="chat-avatar" src="{{ get_user_avatar(username=get_dialog_name(chat.chatname)) }}" alt="chat-avatar">
                {% else %}
                    <img class="chat-avatar" src="{{ chat.avatar }}" alt="chat-avatar">
                {% endif %}
                <div class="chat-box-info">
                    <span class="chat-box-info-d-name">{{ get_dialog_name(chat.chatname) }}</span>
                    {% if not chat.is_dialog %}
                        <span>{{ _("users:")}} {{ chat.user_count }}</span>
                    {% else %}
                        <span>{{ _("dialog") }}</span>
                    {% endif %}
                </div>
                <div class="chat-box-buttons">
                    <button class="new-button" onclick="location.href='{{ url_for('chat', chat_id=chat["id"]) }}'">
                        {{ _("Write") }}
                    </button>
                    {% if not chat.is_dialog %}
                        <button class="new-button" id="leave_{{ chat.id }}" onclick="leave_chat('{{ chat.id }}')">
                            {{ _("Leave") }}</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="create-chat-display">
            <button class="new-button" onclick="location.href='{{ url_for('create_chat') }}'">{{ _("Create new chat")}}</button>
        </div>
    </div>
{% endblock %}
{% block right_row %}
    {{ super() }}
    {% block other_profile %}{% endblock %}
{% endblock %}