{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/settings.css">
    <script type="text/javascript"
            src="{{ url_for("static", filename="node_modules/cropperjs/dist/cropper.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="node_modules/cropperjs/dist/cropper.css") }}">
    <script type="text/javascript"
            src="{{ url_for("static", filename="node_modules/jquery-cropper/dist/jquery-cropper.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="settings.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="node_modules/selectize/dist/js/standalone/selectize.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/selectize_modified.css") }}">
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/jscolor.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/roles_editor.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/image_cropper.js") }}"></script>
{% endblock %}
{% block main_row %}
    <div class="settings-block">
        <h1>Profile settings</h1>
        <div class="change-avatar" id="change_avatar">
            <div class="change-avatar-content" id="avatar-modal">
                <span class="close" id="close_button">&times;</span>
                <form class="avatar-form" method="post" enctype=multipart/form-data id="change-avatar">
                    <input class="file-input" type="file" accept="image/png, image/jpeg" id="picture">
                </form>
                <div class="previews-column">
                    <div class="item-preview-flex" id="item-preview-flex-big">
                        <div class="preview" id="big-preview">
                        </div>
                    </div>
                    <div class="item-preview-flex">
                        <div class="preview" id="medium-preview">
                        </div>
                        <div class="preview" id="small-preview">
                        </div>
                    </div>
                    <div class="control-buttons">
                        <button class="new-button" style="display: none" id="crop_button" title="Crop"><i
                                class="bi-crop"></i></button>
                        <button class="new-button" style="display: none" id="move_button" title="Move"><i
                                class="bi-arrows-move"></i></button>
                        <div class="flex-break"></div>
                        <button class="new-button" style="display: none" id="rotate_90_left" title="Rotate clockwise"><i
                                class="bi-arrow-clockwise"></i></button>
                        <button class="new-button" style="display: none" id="rotate_90_right"
                                title="Rotate counterclockwise"><i class="bi-arrow-counterclockwise"></i></button>
                        <div class="flex-break"></div>
                        <button class="new-button" style="display: none" id="save_image" title="Save image"><i
                                class="bi-upload"></i></button>
                    </div>
                </div>
                <div class="crop-image" id="crop-image">
                </div>
            </div>
        </div>
        <form method="POST" id="main_form" class="settings-form">
            <label style="width: 65%">About me
                <textarea class="desc" name='desc' form="main_form">{{ descrip }}</textarea>
            </label>
            <div class="inputs-block">
                <label>Username
                    <input type='text' minlength="3" maxlength="30" class="settings-input"
                           placeholder="5+ symbols"
                           name="username" value="{{ name }}" required>
                </label>
                <div class="username-error"></div>

                <div class="description-error"></div>
                <label>Can other post on your wall?
                    {% if can_post %}
                        <input type="checkbox" form="main_form" name="can_post"
                               checked=True>
                    {% else %}
                        <input class="settingsInputForm" type="checkbox" form="main_form" name="can_post">
                    {% endif %}
                </label>
                <label>Email
                    <input type="email" maxlength="30" placeholder="enter valid email" class="settings-input"
                           name="email" value="{{ email }}" required>
                </label>
                <div class="email-error"></div>
                <label>Password
                    <input type="password" minlength="6" maxlength="20" class="settings-input"
                           placeholder="6+ symbols"
                           name="pw1">
                </label>
                <div class="password-error"></div>
                <input class="new-button" type="submit" value="Save changes">
                <div class="unknown-error"></div>
            </div>
        </form>
        <div class="settings-block buttons-block">
            <button class="new-button" id="avatar_changer">Change avatar</button>
            <button class="new-button" id="roles_menu">Manage your roles</button>
        </div>
        <div class="change-avatar" id="roles_changer">
            <div class="change-avatar-content roles-content" id="roles_modal">
                <div class="roles-modal">
                    <div class="roles-modal-cell" style="grid-area: a">
                        <label style="grid-area: a; width: 100%">
                            Role to edit
                            <select id="roles_selector" style="width: 90%"></select>
                        </label>
                    </div>
                    <label style="grid-area: c">
                        Edit role name<br>
                        <input style="" type="text"
                               class="settings-input"
                               id="edit_role_name"
                               maxlength="32">
                    </label>
                    <label style="grid-area: d">
                        Edit role color<br>
                        <input style="margin-top: 5px; padding: 10px" data-jscolor="{}"
                               class="settings-input"
                               id="edit_role_color">
                    </label>
                    <button class="new-button" id="edit_role_button" style="grid-area: f">Accept changes</button>
                    <button class="new-button" id="delete_role_button" style="grid-area: g">Delete role</button>
                    <label style="grid-area: b">
                        Create new role<br>
                        <input class="settings-input" type="text" maxlength="32" id="create_role_name">
                    </label>
                    <label style="grid-area: e">
                        Role color<br>
                        <input style="margin-top: 5px; padding: 10px" class="settings-input" data-jscolor="{}"
                               id="create_role_color">
                    </label>
                    <button class="new-button" style="grid-area: i" id="create_role_b">Create role</button>
                </div>
            </div>
            {#                <span class="close" id="close_roles_button">&times;</span>#}
        </div>
    </div>

{% endblock %}
{% block right_row %}
    {{ super() }}
    {% block other_profile %}{% endblock %}
{% endblock %}