{% extends "layout.html" %}
{% block title %}Communities{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main_row %}
    {% if groups %}
        {% for group in groups %}
            <div class="group-place">
                <span class="group-avatar">{{ group.avatar }}</span>
                <a class="group-name"
                   href="{{ url_for("group_page", group_name=group.group_name) }}">{{ group.group_name }}</a><br>
                <span class="group-status">{{ group.group_status }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}