<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/userpage.css">
    <script type="text/javascript" src="{{ url_for("static", filename="up.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="node_modules/selectize/dist/js/standalone/selectize.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/selectize_modified.css") }}">
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/jscolor.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/roles_editor.js") }}"></script>
{% endblock %}
{% block main_row %}
    <div class="user-card">
        <div class="user-card-avatar-section">
            <div class="avatar-div">
                <img class="avatar" alt="User doesn't have avatar" src="{{ user.avatar }}">
            </div>
            <div class="user-card-nickname-section">
                <span class="user-nickname">{{ user.username }}</span>
                <span style="font-size: 0.8em">common user</span>
                {% if user.is_online %}
                    <span style="font-size: 0.8em; color: green">online</span>
                {% else %}
                    <span style="font-size: 0.8em">{{ user.last_time_online }}</span>
                {% endif %}
                <span style="font-size: 0.8em">{{ user.friends_count }} friends</span>
                <div class="user-card-other-block">
                    {% if name != current_user.username %}
                        <button class="tag-button-small" id="add_friend" value="Add friend">Add friend</button>
                        <button class="tag-button-small" id="remove_friend" value="">Remove friend</button>
                        <button class="tag-button-small" id="accept_request" value="">Accept request</button>
                        <button class="tag-button-small" id="decline_request" value="">Decline request</button>
                        <button class="tag-button-small" id="cancel_request" value="">Cancel request</button>
                    {% else %}
                        <span class="tag-button-small">change cover</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="user-card-description">
            <span style="color: var(--object-bg-text-color)">About me</span>
            <a class="user-description">{{ user.description }}</a>
        </div>
    </div>
    <span class="posts-span">Posts</span>
    <div class="new-post">
        <div style="flex: 1;" class="new-post-sub">
            <label>
                <textarea id="post-input" style="flex: 1"></textarea>

            </label>
            <div class="new-post-sub-pinned" id="pinned_container">
            </div>
            <div class="new-post-sub-tags">
                <a>Type:</a>
                <button class="tag-button-small" style="margin-right: 10px" id="private_post">private</button>
                <label id="role_selector" for="roles_selector">
                    Roles:
                    <select id="roles_selector" multiple="multiple" style="width: 100%; justify-self: center">
                    </select>
                </label>
                <button class="new-button" style="margin-right: auto; margin-left: 0" id="edit_roles">Edit roles
                </button>
            </div>
        </div>
        <div class="post-buttons">
            <button class="new-button" id="make_post">Post</button>
        </div>
    </div>
    <div class="modal-window" id="add_role_modal">
        <div class="modal-window-content" id="add_role_modal_content">
            <label>
                Color:
                <input class="role-inputs" style="margin-top: 5px; padding: 5px" data-jscolor="{}" id="role_color">
            </label>
            <label>
                Role name:
                <input class="role-inputs" style="margin-top: 5px; padding: 5px" type="text" id="role_name"
                       maxlength="32">
            </label>
            <button class="new-button" id="pin_roles">Add new role</button>
        </div>
    </div>
    <div class="modal-window" id="modal_edit_role">
        <div class="modal-window-role-edit-content" id="modal_edit_role_content">
            <label>
                Choose role to edit:
                <select id="edit_roles_selector"></select>
            </label>
            <label>
                Edit role name:
                <input class="role-inputs" style="margin-top: 5px; padding: 10px" type="text" id="edit_role_name"
                       maxlength="32">
            </label>
            <label>
                Edit role color:
                <input class="role-inputs" style="margin-top: 5px; padding: 10px" data-jscolor="{}"
                       id="edit_role_color">
            </label>
            <button class="new-button" id="edit_role_button">Accept changes</button>
            <button class="new-button" id="delete_role_button">Delete role</button>
        </div>
    </div>
    <div class="posts">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        <img class="post-avatar" alt="User avatar" src="{{ get_user_avatar(post['user_id']) }}">
                        <a class="post-nick"
                           href="{{ url_for("users_page", name=get_username(post['user_id'])) }}"><b>{{ get_username(post['user_id']) }}</b></a>
                        <span class="post-date">posted at {{ formate_datetime(post['date_added']) }}</span><br>
                        {% if current_user.username == name %}
                            <div class="private-info">
                                {% if post.is_private %}
                                    <span class="tag-button-small">private</span>
                                {% else %}
                                    <span class="tag-button-small">public</span>
                                {% endif %}
                                <span class="private-role-info">only for: </span>
                                {% for role in post.roles %}
                                    <span class="tag-button-small role-display-{{ role.id }}"
                                          style="background: {{ role.role_color }}; color: {{ role.font_color }}">{{ role.role_name }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <span class="material-icons" id="post-more">more_horiz</span>
                    </div>
                    <span class="post-message">{{ post['message'] }}</span>
                    <div class="post-pinned-images">
                        {% if post.attachment %}
                            {% for attach in post.attachment %}
                                {% for image in attach.links_array %}
                                    {% if image %}
                                        <img src="{{ image }}" class="post-pinned-image" alt="attach_img">
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block right_row %}
    {{ super() }}
    {% block your_profile %}{% endblock %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        let where_id;
        $(function () {
            {% if user.id == current_user.id %}
                where_id = null
            {% else %}
                where_id = "{{user.id}}"
            {% endif %}
            init("{{user['username']}}", "{{current_user.username}}");
        })
        $("#add_friend").click(function () {
            add_friend('{{user['username']}}')
        })
        $("#cancel_request").click(function () {
            remove_friend('{{user['username']}}')
        })
        $("#accept_request").click(function () {
            accept_request('{{ user['username'] }}')
        })
        $("#decline_request").click(function () {
            remove_friend('{{ user['username'] }}')
        })
        $("#remove_friend").click(function () {
            remove_friend('{{ user['username'] }}')
        })
    </script>
{% endblock %}