<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/userpage.css">
    <script type="text/javascript" src="{{ url_for("static", filename="up.js") }}"></script>
{% endblock %}
{% block main_row %}
    <div class="user-card">
        <div class="user-card-avatar-section">
            <div class="avatar-div">
                <img class="avatar" alt="User doesn't have avatar" src="{{ user.avatar }}">
            </div>
            <div class="user-card-nickname-section">
                <span class="user-nickname">{{ user.username }}</span>
                <span style="font-size: 0.8em">common user</span>
                {% if user.is_online %}
                    <span style="font-size: 0.8em; color: green">online</span>
                {% else %}
                    <span style="font-size: 0.8em">{{ user.last_time_online }}</span>
                {% endif %}
                <div class="user-card-other-block">
                    {% if name != current_user.username %}
                        <button class="tag-button-small" id="add_friend" value="Add friend">Add friend</button>
                        <button class="tag-button-small" id="remove_friend" value="">Remove friend</button>
                        <button class="tag-button-small" id="accept_request" value="">Accept request</button>
                        <button class="tag-button-small" id="decline_request" value="">Decline request</button>
                        <button class="tag-button-small" id="cancel_request" value="">Cancel request</button>
                    {% else %}
                        <span class="tag-button-small">change cover</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="user-card-description">
            <span style="color: var(--object-bg-text-color)">About me</span>
            <a class="user-description">{{ user.description }}</a>
        </div>
    </div>
    <span class="posts-span">Posts</span>
    <div class="new-post">
        <div style="flex: 1;" class="new-post-sub">
            <label>
                <textarea id="post-input"></textarea>
            </label>
            <div class="new-post-sub-tags">
                <span>Type:</span>
                <button class="tag-button-small" style="margin-right: 10px" id="private_post">private</button>
                <span id="roles_label">Roles:</span>
                <div class="new-post-sub-tags-roles" style="display: inline">
                    <button class="tag-button-small">test tag</button>
                </div>
                <button class="tag-button-small" id="add_roles">Add role</button>
            </div>
        </div>
        <div class="post-buttons">
            <button class="new-button">Post</button>
        </div>
    </div>
    <div class="tag-modal-window">
        <div class="tag-modal-window-content">
            <label id="role_selector" for="roles_selector">
                Add roles to post

                <select id="roles_selector" multiple="multiple" style="width: 75%">
                    <optgroup label="Cock">
                        <option>Some role</option>
                    </optgroup>
                    <option>Some role 2</option>
                </select>
            </label>
        </div>
    </div>
    <div class="posts">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        <img class="post-avatar" alt="User avatar" src="{{ get_user_avatar(post['user_id']) }}">
                        <a class="post-nick"
                           href="{{ url_for("users_page", name=get_username(post['user_id'])) }}"><b>{{ get_username(post['user_id']) }}</b></a>
                        <span class="post-date">posted at {{ formate_datetime(post['date_added']) }}</span><br>
                        {% if current_user.username == name %}
                            <div class="private-info">
                                {% if post.is_private %}
                                    <span class="tag-button-small">private</span>
                                {% else %}
                                    <span class="tag-button-small">public</span>
                                {% endif %}
                                <span class="private-role-info">only for: </span>
                                {% for role in post.roles %}
                                    <span class="tag-button-small"
                                          style="background: {{ role.role_color }}">{{ role.role_name }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <span class="material-icons" id="post-more">more_horiz</span>
                    </div>

                    <a class="post-message">{{ post['message'] }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block right_row %}
    {{ super() }}
    {% block your_profile %}{% endblock %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            init("{{user['username']}}", "{{current_user.username}}");
        })
        $("#add_friend").click(function () {
            add_friend('{{user['username']}}')
        })
        $("#cancel_request").click(function () {
            remove_friend('{{user['username']}}')
        })
        $("#accept_request").click(function () {
            accept_request('{{ user['username'] }}')
        })
        $("#decline_request").click(function () {
            remove_friend('{{ user['username'] }}')
        })
        $("#remove_friend").click(function () {
            remove_friend('{{ user['username'] }}')
        })
        $(function () {
            $("#publish_post").click(function () {
                {% if user.id == current_user.id %}
                    let view_lvl = document.getElementById("view_level").value
                    let whereid = null
                {% else %}
                    let view_lvl = {{user.v_lvl}}
                        let whereid = "{{user.id}}"
                {% endif %}
                publish_post($("#user_post").val(), null, view_lvl, whereid, is_post_private)
            })
        })
    </script>
{% endblock %}