<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/userpage.css">
    <script type="text/javascript" src="{{ url_for("static", filename="up.js") }}"></script>
{% endblock %}
{% block main_row %}
    <a class="user-description">{{ descrip }}</a>
    <button id="add_post" class="new-button">Add new post</button>
    <div class="create_post" id="create_post">
        <label class="create_post-label" for="user_post">Create new post</label>
        <textarea id="user_post"></textarea>
        {% if name == session['username'] %}
            <label for="view_level">Select post view level</label>
            <select class="post-button" name="view_level" id="view_level">
                <option value="5">5 (For everyone)</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0 (Just for you)</option>
            </select>
        {% endif %}
        <button class="post-button" id="publish_post">Make post</button>
    </div>
    <div class="posts">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <a>{{ formate_datetime(post.date_added) }}</a>
                    <a><b>{{ get_username(post.userid) }}:</b></a><br>
                    <a class="userPost">{{ post.message }}</a><br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block right_row %}
    {{ super() }}
    {% if name != session['username'] %}
        <div class="friend_buttons">
            <button class="new-button" id="add_friend" value="Add friend">Add friend</button>
            <button class="new-button" id="remove_friend" value="">Remove friend</button>
            <button class="new-button" id="decline_request" value="">Decline request</button>
            <button class="new-button" id="accept_request" value="">Accept request</button>
            <button class="new-button" id="cancel_request" value="">Cancel request</button>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        init("{{name}}", "{{session.get("username")}}");
        $("#add_friend").click(function () {
            add_friend('{{name}}')
        })
        $("#cancel_request").click(function () {
            remove_friend('{{name}}')
        })
        $("#accept_request").click(function () {
            accept_request('{{ name }}')
        })
        $("#decline_request").click(function () {
            remove_friend('{{ name }}')
        })
        $("#remove_friend").click(function () {
            remove_friend('{{ name }}')
        })
        $(function () {
            $("#publish_post").click(function () {
                {% if v_lvl == 0 %}
                    let view_lvl = document.getElementById("view_level").value
                    let whereid = null
                    let fromid = null
                {% else %}
                    let view_lvl = {{v_lvl}}
                        let whereid = "{{name}}"
                    let fromid = "{{session.get('username')}}"
                {% endif %}
                publish_post($("#user_post").val(), null, view_lvl, whereid, fromid)
            })
        })
    </script>
{% endblock %}