<head>
    <title>Circles</title>
    <style>
        html {
            background: #f6f7fb;
        }
    </style>
</head>
<body>
<h2>{{ _("Hello! This is Circles team,")}}</h2>
<p>{{ _("We glad that you chose our social network, but before we begin, you need to finish one more step")}}</p>
<p>{{ _("Use this link to confirm your email and your account will be ready to go!")}}</p>
<a href="{{ url_for('confirm_email', token=token, _external=True) }}">{{ _("Click on this")}}</a>
<p>{{ _("If link isn't rendering, you can copy and paste this in your browser")}}</p>
{{ url_for('confirm_email', token=token, _external=True) }}
<p>{{ _("If you have not registered, ignore this email")}}</p>
<p>{{ _("Best regards, Circles team")}}</p>
</body>